// Solid Colors ---------------
$white: #ffffff;
$black: #000;

// Grey Colors ---------------
$theme-color-2:#FFB013;

// Grey-2Colors ---------------
$theme-color-2-2:#A2A2A2;


// Footer Colors ---------------
$footer-bg: #000;



// basic color
$theme-color: #2467EC;



// basic color
$theme-bg: #F6F8FB;



// Text Colors ---------------
$body-text: #575757;



// Border Colors ---------------
$border:#edeef2;

// Heading Colors ---------------
$heading-color: #141517;


// section-bg Colors ---------------
$section-bg: #F6F8FB;